@model WebApplication7.ViewModels.CustomerListTransactionsForCustomerViewModel.CustomerTransaction

@{
    Layout = null;
}

<tr>
    <td>@Model.TransactionId</td>
    <td>@($"{Model.Amount:C}")</td>
    <td>@($"{Model.Balance:C}")</td>
    <td>@Model.Account</td>
    <td>@Model.Bank</td>
    <td>@Model.Operation</td>
    <td>@Model.Symbol</td>
    <td>@Model.TransactionDate</td>
</tr>