@model List<WebApplication7.ViewModels.StartPageModel.ListCustomersViewModel>

<div class="col-lg-6 col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Customers</h4>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead class="text-warning">
                <th>Id</th>
                <th>Name</th>
                <th>City</th>
                <th>Address</th>
                <th>Personal number</th>
                </thead>
                <tbody>
                    @foreach (var i in Model)
                    {
                        <tr>
                            <td>@i.CustomerId</td>
                            <td>@i.FullName</td>
                            <td>@i.City</td>
                            <td>@i.Address</td>
                            <td>@i.PersonalNumber</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>